@font-face {
  font-family: "Space Mono";
  src: url("assets/fonts/Space_Mono/SpaceMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Space Mono";
  src: url("assets/fonts/Space_Mono/SpaceMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/**
* Screen sizes
*/

@mobile: ~"screen and (max-width: 767px)";
@desktop: ~"screen and (min-width: 1025px)";
@tablet: ~"screen and (min-width: 768px) and (max-width: 1024px)";

/**
 * Common font sizes
 */

@font-family: "Space Mono", monospace;

@font-size-text: 1rem;
@font-size-title: 1.6rem;
@font-size-subtitle: 1.3rem;

@line-height-text: 1.5rem;
@line-height-title: 2.4rem;
@line-height-subtitle: 2rem;

/**
 * Common colors
 */

@color-red: #f74646;
@color-blue: #0079ff;
@color-white: #ffffff;
@color-light-blue: #60abff;

/**
 * Light theme
 */

@light-bg-color: #f6f8ff;
@light-primary-color: #ffffff;
@light-text-color: #697c9a;
@light-title-color: #222731;
@light-shadow-color: rgba(70, 96, 187, 0.2);

/**
 * Dark theme
 */

@dark-bg-color: #141d2f;
@dark-primary-color: #1e2a47;
@dark-text-color: #ffffff;
@dark-title-color: #ffffff;
@dark-shadow-color: none;

/**
 * Theme definition
 */

.defineTheme(
  @themeName,
  @bgColor,
  @textColor,
  @titleColor,
  @primaryColor,
  @shadowColor
) {
  .@{themeName} {
    --bg-color: @bgColor;
    --text-color: @textColor;
    --title-color: @titleColor;
    --primary-color: @primaryColor;
    --shadow-color: @shadowColor;
  }
}

.defineTheme(
  lightTheme,
  @light-bg-color,
  @light-text-color,
  @light-title-color,
  @light-primary-color,
  @light-shadow-color
);

.defineTheme(
  darkTheme,
  @dark-bg-color,
  @dark-text-color,
  @dark-title-color,
  @dark-primary-color,
  @dark-shadow-color
);
