<main class="profile__container">
  <header class="profile__header">
    <section
      class="profile__image"
      [ngStyle]="{ 'background-image': 'url(' + data.avatar_url + ')' }"
    ></section>

    <section class="profile__info">
      <h2 class="profile__name">{{ data.name || "Not available" }}</h2>
      <h3 class="profile__username">{{ data.login }}</h3>
      <p class="profile__joined">
        Joined {{ data.created_at | date : "mediumDate" : "" : "pt-BR" }}
      </p>
    </section>

    <section class="profile__bio">
      {{ data.bio || "No bio yet" }}
    </section>
  </header>

  <section class="profile__stats">
    <div class="profile__stat">
      <h4 class="profile__stat-title">Repos</h4>
      <p class="profile__stat-value">{{ data.public_repos }}</p>
    </div>

    <div class="profile__stat">
      <h4 class="profile__stat-title">Followers</h4>
      <p class="profile__stat-value">{{ data.followers }}</p>
    </div>

    <div class="profile__stat">
      <h4 class="profile__stat-title">Following</h4>
      <p class="profile__stat-value">{{ data.following }}</p>
    </div>
  </section>

  <section class="profile__more-infos">
    <div class="profile__more-info">
      <img
        class="profile__more-info-icon"
        src="assets/icons/icon-location.svg"
        alt="location icon"
      />
      <span class="profile__more-info-text">{{
        data.location || "Not Available"
      }}</span>
    </div>
    <div class="profile__more-info">
      <img
        class="profile__more-info-icon"
        src="assets/icons/icon-website.svg"
        alt="website icon"
      />
      <span class="profile__more-info-text link">{{
        data.blog || "Not Available"
      }}</span>
    </div>
    <div class="profile__more-info disabled">
      <img
        class="profile__more-info-icon"
        src="assets/icons/icon-twitter.svg"
        alt="twitter icon"
      />
      <span class="profile__more-info-text">{{
        data.twitter_username || "Not Available"
      }}</span>
    </div>
    <div class="profile__more-info">
      <img
        class="profile__more-info-icon"
        src="assets/icons/icon-company.svg"
        alt="company icon"
      />
      <span class="profile__more-info-text">{{
        data.company || "Not Available"
      }}</span>
    </div>
  </section>
</main>
