@import "_variables";
@import "_mixins";

.profile__container {
  .flex(
      @direction: column,
      @gap: 2rem
    );

  width: 100%;
  padding: 3rem 1.5rem;
  border-radius: 0.9rem;
  background-color: var(--primary-color);
  box-shadow: 0px 1rem 1.8rem -0.6rem var(--shadow-color);

  .profile__header {
    display: grid;
    column-gap: 1.2rem;
    grid-row-gap: 1.2rem;
    grid-template-areas:
      "profile-image info"
      "description description";
    grid-template-columns: minmax(70px, auto) 1fr;

    .profile__image {
      grid-area: profile-image;

      width: 100%;
      height: 70px;
      max-width: 70px;
      border-radius: 50%;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .profile__info {
      grid-area: info;
      width: 100%;
      max-width: 200px;

      .profile__name {
        color: var(--title-color);
        font-size: @font-size-text;

        .ellipsis();
      }

      .profile__username {
        color: @color-blue;
      }

      .profile__username,
      .profile__joined {
        font-size: 0.8rem;
      }

      .profile__joined {
        color: var(--title-color);

        .ellipsis();
      }
    }

    .profile__bio {
      grid-area: description;
      font-size: 0.8rem;
      color: var(--text-color);

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

  .profile__stats {
    padding: 1rem;
    border-radius: 0.8rem;
    background-color: var(--bg-color);

    display: flex;
    justify-content: space-between;

    .profile__stat {
      .flex(@align: center, @direction: column);

      .profile__stat-title {
        font-weight: 400;
        font-size: 0.6rem;
        color: var(--text-color);
      }

      .profile__stat-value {
        font-weight: bold;
        font-size: @font-size-text;
        color: var(--title-color);
      }
    }
  }

  .profile__more-infos {
    .flex(@gap: 1rem, @direction: column);
  }
}

.disabled {
  opacity: 0.5;
}

.link:hover {
  text-decoration: underline;
  color: @color-blue !important;

  cursor: pointer;
}

/**
 * Tablet media
 */

@media @tablet {
  .profile__container {
    padding: 3rem;
    width: 100%;
    max-width: 573px;

    .profile__header {
      column-gap: 2rem;
      grid-template-columns: minmax(117px, auto) minmax(auto, 300px);

      .profile__image {
        width: 100%;
        height: 117px;
        max-width: 117px;
      }

      .profile__info {
        max-width: unset;

        .profile__name {
          font-size: 1.6rem;
        }

        .profile__username,
        .profile__joined {
          font-size: 1rem;
        }
      }

      .profile__bio {
        font-size: 1rem;
      }
    }

    .profile__stats {
      align-self: center;

      width: 100%;
      max-width: 493px;
      padding: 1rem 2rem;

      .profile__stat {
        .profile__stat-title {
          font-weight: 400;
          font-size: 0.9rem;
        }

        .profile__stat-value {
          font-size: 1.4rem;
        }
      }
    }

    .profile__more-infos {
      .flex(@align: center, @wrap: wrap);
      row-gap: 1.1rem;

      > profile-more-info {
        width: 50%;
      }
    }
  }
}

/**
 * Desktop media
 */

@media @desktop {
  .profile__container {
    padding: 3rem;
    display: grid;
    column-gap: 2rem;
    grid-template-areas:
      "header header"
      ". stats"
      ". more-infos";
    grid-template-columns: minmax(117px, auto) 1fr;

    .profile__header {
      grid-area: header;

      display: grid;
      column-gap: 2rem;
      grid-template-areas:
        "profile-image info"
        "profile-image description";
      grid-template-columns: subgrid;

      .profile__image {
        grid-area: profile-image;
        width: 100%;
        height: 117px;
        max-width: 117px;
      }

      .profile__info {
        grid-area: info;
        max-width: unset;

        display: grid;
        grid-template-areas:
          "name bio"
          "username .";
        column-gap: 1rem;
        grid-template-rows: auto;
        grid-template-columns: auto 1fr;

        .profile__name {
          grid-area: name;
          font-size: 1.6rem;
        }

        .profile__username,
        .profile__joined {
          font-size: 1rem;
          width: 100%;
        }

        .profile__username {
          grid-area: username;
        }

        .profile__joined {
          grid-area: bio;
          justify-self: end;
          align-self: center;
          text-align: right;
        }
      }

      .profile__bio {
        grid-area: description;
        font-size: 0.9rem;
      }
    }

    .profile__stats {
      grid-area: stats;
      max-width: 480px;
      width: 100%;
      padding: 0;
      border-radius: 0.8rem;

      display: flex;
      justify-self: center;
      justify-content: space-between;

      .profile__stat {
        .flex(@align: center, @direction: column);
        padding: 0.9rem 2rem;

        .profile__stat-title {
          font-size: 0.9rem;
        }

        .profile__stat-value {
          font-size: 1.4rem;
        }
      }
    }

    .profile__more-infos {
      grid-area: more-infos;

      .flex(@align: center, @wrap: wrap);
      row-gap: 1.2rem;

      > profile-more-info {
        width: 50%;
      }
    }
  }
}
