<section class="profile__container">
  <header class="profile__header">
    <section
      class="profile__image"
      [ngStyle]="{
        'background-image':
          'url(' + data.avatar_url || defaultProfileImage + ')'
      }"
    ></section>

    <section class="profile__info">
      <h2 class="profile__name" noDataText>
        {{ data.name }}
      </h2>
      <h3 class="profile__username" noDataText>
        {{ data.login }}
      </h3>
      <p class="profile__joined">
        Joined {{ data.created_at | date : "mediumDate" : "" : "pt-BR" }}
      </p>
    </section>

    <section class="profile__bio" [noDataText]="'No bio yet'">
      {{ data.bio }}
    </section>
  </header>

  <section class="profile__stats">
    <div class="profile__stat">
      <h4 class="profile__stat-title">Repos</h4>
      <p class="profile__stat-value">{{ data.public_repos }}</p>
    </div>

    <div class="profile__stat">
      <h4 class="profile__stat-title">Followers</h4>
      <p class="profile__stat-value">{{ data.followers }}</p>
    </div>

    <div class="profile__stat">
      <h4 class="profile__stat-title">Following</h4>
      <p class="profile__stat-value">{{ data.following }}</p>
    </div>
  </section>

  <section class="profile__more-infos">
    <profile-more-info
      imagePath="assets/icons/icon-location.svg"
      [textContent]="data.location"
    ></profile-more-info>

    <profile-more-info
      imagePath="assets/icons/icon-website.svg"
      [textContent]="data.blog"
      [isLink]="true"
    ></profile-more-info>

    <profile-more-info
      imagePath="assets/icons/icon-twitter.svg"
      [textContent]="data.twitter_username"
    ></profile-more-info>

    <profile-more-info
      imagePath="assets/icons/icon-company.svg"
      [textContent]="data.company"
    ></profile-more-info>
  </section>
</section>
